[Unit]
Description=hysteria
After=network.target

[Service]
Type=simple
PIDFile=/opt/hysteria/hysteria.pid
ExecStart=/opt/hysteria/hysteria --log-level warn -c /opt/hysteria/config.json server
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
